# eclipse
bin
*.launch
.settings
.settings/*
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
*.idea

#ForgeGradle
/build
/.gradle
/eclipse/assets
/bin/
/run/
/out/

# other
eclipse
