/README.txt
/.classpath
/forge-*-changelog.txt
/bin/*
/.gradle/*
/eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/*
/eclipse/.metadata/*.dat
/eclipse/.metadata/*.tree
/eclipse/.metadata/*.index
*.index
*~
/temp/*
/build/*
/.idea/*
temp/*
/run/*

/bin/
/extra/MinecraftModUtils/nbproject/private/

*.iml
*.ipr
*.iws
*.launch
.classpath
.project
.settings
